/* Google-Fonts CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --primary: #fff;
    --secondary: #0c0a0a;
    --textcolor: #ec1010;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: var(--primary);
    overflow: hidden;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    z-index: 222;
}